<router-outlet></router-outlet>
<div class="d-flex justify-content-center align-items-center h-100v mainDataWrap">
    <div class="card m-3 app">
  <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
             
             
              <div class="row">
                <div class="form-group  col-md-6 col-sm-12">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group  col-md-6 col-sm-12">
                    <label>Phone Number</label>
                        <div>
                            <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                            [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                            [selectedCountryISO]="CountryISO.India" [maxLength]="15"
                            [phoneValidation]="true" [separateDialCode]="separateDialCode"
                            [numberFormat]="PhoneNumberFormat.National" formControlName="phone"   [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        </ngx-intl-tel-input>
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                           
                        </div>
                    </div>
                </div>
              </div>
             
              <div class="row">
                <div class="form-group  col-md-6 col-sm-12">
                  <label>Password</label>
                  <div class="input-group mb-3 passwordfieldwrap">
              
                      <input [type]="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                     
                    <div class="input-group-append" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <button (click)="onClick()" type="button">
                            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                          </button>
                    </div>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                  </div>
                </div>
                <div class="form-group  col-md-6 col-sm-12">
                  <label>Confirm Password</label>
                  <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
              </div>
            </div>
            <div class="row">
                <div class="form-group  col-md-6 col-sm-12">
                    <label>Upload Image</label>
                    <div><input  type="file" name="files" accept="image/*" (change)="onFileChanged($event)" formControlName="image"></div>
                </div>
                <div class="form-group  col-md-6 col-sm-12">
                    <label>Select Gender</label>
                    <div class="radioBox">
                        <div class="radio" *ngFor="let gender of genders">
                            <label>
                              <input type="radio" [value]="gender"
                              formControlName = "gender">{{gender}}
                            </label>
                          </div>
                    </div>
                   
                </div>
              </div>
          </div>
         
          <div class="form-row">
            <div class="row">
                <div class="form-group  col-md-6 col-sm-12">
                    <div>
                        <label>Hobbies</label>
                        <div><input type="text"  formControlName="hobbies" class="form-control"></div>
                      </div>
                  </div>
                  <div class="form-group  col-md-6 col-sm-12">
                    <div>
                        <label>City</label>
                        <div><input type="text"  formControlName="city" class="form-control"></div>
                      </div>
                  </div>

            </div>
           
             
            
          </div>
          <div class="form-group form-check">
              <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
              <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
              <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
          </div>
          <div class="text-center ActionWrap">
              <button class="btn btn-primary mr-1"><i class="fa fa-sign-in" aria-hidden="true"></i> Register</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
          </div>
      </form>
  </div>
</div>
</div>

